/* Estilo global da página */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #111111ed; /* Fundo escuro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
}

/* Container principal onde o conteúdo das páginas aparece */
.container {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    flex: 1; /* faz o conteúdo expandir e empurrar o footer */
    display: flex;
    color: black;
}

.header {
    position: relative;
    text-align: center;
    padding: 2.4vh 0;
    background-color: #8000ff;
}

.header a {
    position: absolute;
    left: 10px;
    top: 35%;
    transform: translateY(-50%);
    text-decoration: none;
    color: black;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}

.header a:hover {
    text-decoration: none;
    color: black;
    background: none;
    box-shadow: none;
    transform: translateY(-50%);
    
}

.global-title {
    margin: 0;
    color: black;
    font-size: 24px;
}

/* Rodapé */
.footer {
    background-color: #8000ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    text-align: center;
    color: #7F00FF;
    margin-top: auto; 
    height: 5%;
}

/* Mensagens flash (ex: login feito com sucesso) */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background: #7F00FF;
    padding: 10px;
    margin-bottom: 8px;
    border-left: 4px solid #8000ff;
    border-radius: 4px;
}




