/* Estilização específica da página Home (index.html) */

/* Parte principal */
main {
    flex: 1;  /* Faz o main ocupar o espaço restante */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    overflow-y: auto;  /* Adiciona rolagem ao conteúdo se necessário */
    width: 100%; /* Garante que o main ocupe 100% da largura disponível */
}

/* Gráfico UV */
#grafico-uv {
    background-color: #d8b4fe;
    border: 3px solid #9600ff;
    border-radius: 15px;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e1065;
    font-weight: bold;
}

/* Lista de Registros */
#lista-registros ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #d8b4fe;
    border: 3px solid #9600ff;
    border-radius: 15px;
    width: 250px;
}

#lista-registros li {
    border-bottom: 1px solid #9600ff;
    padding: 10px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#lista-registros li:last-child {
    border-bottom: none;
}

#lista-registros a {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0px;
}

/* Botão da API */
form button {
    background-color: #d8b4fe;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

/* Barra lateral */
aside {
    width: 250px;  /* Define a largura do aside */
    background-color: #9600ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 70%;  /* O aside ocupa o restante da altura disponível */
    position: relative;  /* Agora o aside se posiciona de forma normal no fluxo */
}

/* Navegação no aside */
aside nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
}

aside nav ul li a {
    color: black;
    text-decoration: none;
}



