
.registro_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
    margin: 10px 0;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.2em;
    display: inline-block;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: none;
    color: black;
    background: none;
    box-shadow: none;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

table {
    background-color: #d9aaff; /* roxo claro */
    border-collapse: collapse;
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px #a03de3;
    height: 80%;
}

th, td {
    padding: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid #3f006b; /* contorno escuro */
}

a {
    font-size: 16px;
    margin: 0px;
    text-decoration: none;
}

th {
    background-color: #c282ff;
    color: black;
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: #e2c6ff;
}

.table-registro button{
    background-color: #d9aaff;
    border: none;
}

