{% extends 'base.html' %}

{% block content %}

<p>Editar registro</p>

<a href="{{ url_for('registros') }}">← Voltar</a> 

<h2>UV</h2>

<h3>REGISTRO 1</h3>

<table>
    <tr>
        <td><button>FREQ</button></td>
        <td><button>DATA</button></td>
    </tr>
    <tr>
        <td><button>HARD</button></td>
        <td><button>LOCAL</button></td>
    </tr>
    <tr>
        <td><button>DOC</button></td>
        <td><button></button></td>
    </tr>
</table>

{% endblock %}
