{% extends 'base.html' %}

{% block content %}
<div class="container-estatistica">
    
    <!-- Simulação do gráfico -->
    <div class="grafico-estatistica">
        <p>[GRÁFICO AQUI]</p>
    </div>

    <!-- Tabela de registros -->
    <table class="table-estatistica">
        <tr>
            <th>REGISTRO</th>
            <th>LOCALIDADE</th>
        </tr>
        <tr>
            <td>REGISTRO 1</td>
            <td></td>
        </tr>
        <tr>
            <td>REGISTRO 2</td>
            <td></td>
        </tr>
        <tr>
            <td>REGISTRO 3</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>
{% endblock %}