{% extends "base.html" %}

{% block content %}
        <main>
            <div id="grafico-uv">
                <p>Aqui vai o gráfico UV</p>
            </div>

            <div id="lista-registros">
                <ul>
                    <li><a href="{{ url_for('editar_registro') }}">REGISTRO_1</a>
                    </li>
                    <li>REGISTRO_2</li>
                    <li>REGISTRO_3</li>
                    <li>REGISTRO_4</li>
                    <li>REGISTRO_5</li>
                </ul>
            </div>

            <form action="" method="post">
                <button type="submit">API</button>
            </form>
        </main>
        
        <!-- Barra lateral -->
        <aside>
            <nav>
                <ul>
                    <li><a href="{{ url_for('user', username=current_user.username) }}">Perfil</a></li>
                    <li><a href="">ARD</a></li>
                    <li><a href="{{ url_for('estatistica') }}">EST</a></li>
                    <li><a href="{{ url_for('registros') }}">REG</a></li>
                    <li><a href="">DOC</a></li>
                    <li><a href="">⚙ Configurações</a></li>
                    <li><a href="{{ url_for('manual') }}">❓ Ajuda</a></li>
                    <li><a href="{{ url_for('logout') }}">⮐ Sair</a></li>
                </ul>
            </nav>
        </aside>
{% endblock %}
