{% extends "base.html" %}

{% block content %}
<div class="registro_container">

    <!-- Tabela de registros -->
    <table border="1">
        <thead>
            <tr>
                <th>DATA V</th>
                <th>HARDWARE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{ url_for('editar_registro') }}">REG_1</a>
                </td>
                <td>"MODELO" 🟢</td>
            </tr>
            <tr>
                <td>REG_2</td>
                <td>"MODELO" 🟢</td>
            </tr>
            <tr>
                <td>REG_3</td>
                <td>"MODELO" 🔴</td>
            </tr>
            <tr>
                <td>REG_4</td>
                <td>"MODELO" 🟢</td>
            </tr>
            <tr>
                <td>REG_5</td>
                <td>"MODELO" 🟡</td>
            </tr>
            <tr>
                <td>REG_6</td>
                <td>"MODELO" 🔴</td>
            </tr>
            <tr>
                <td>REG_7</td>
                <td>"MODELO" 🟡</td>
            </tr>
            <tr>
                <td>REG_8</td>
                <td>"MODELO" 🟢</td>
            </tr>
            <tr>
                <td>REG_9</td>
                <td>"MODELO" 🟡</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}